# If using virtualenv or venv
.venv/
venv/
env/

# VSCode or PyCharm
.vscode/
.idea/

# ========================
# NODE (React frontend)
# ========================
.docusaurus/
*.pdf

# ========================
# NODE (React frontend)
# ========================
node_modules/
dist/
build/
.vite/
*.log
.npmrc
.env.local
.env.development
.env.production

# ========================
# NGINX / Docker
# ========================
/nginx/certs/
/nginx/conf.d/*.bak
/nginx/logs/
*.pid

# Docker
*.tar
*.img
Dockerfile.*
docker-compose.override.yml

# =============
# SYSTEM FILES
# =============
.DS_Store
Thumbs.db
*.swp
*~
\#*
.\#*
.nfs_*

__pycache__/
*.pyc
node_modules/